{% extends 'base.html' %}

{% block content %}
    <div class="bg-main rounded main-block mx-auto my-1 p-2 border border-dark">
        <img class="img-fluid" src="static/images/landing1.jpg" alt="">
    </div>

    <div class="row main-block mx-auto text-center mb-5">
        <div class="col-sm-6 bg-main rounded border border-dark py-2 mb-1">
            <h2>Start Browsing</h2>
            <div class="bg-minor rounded mb-1 py-2">
                <p>You can see the recent activity from all users here.</p>
                <a class="btn btn-secondary" href="{{ url_for('get_recent_activity') }}">Recent Activity</a>
            </div>
        </div>
        <div class="col-sm-6 bg-main rounded border border-dark py-2 mb-1">
            <h2>Sign Up</h2>
            <div class="bg-minor rounded mb-1 py-2">
                <p>Make an account to make post, replies or follow other users.</p>
                <a class="btn btn-secondary" href="{{ url_for('get_register_account') }}">Register Now</a>
            </div>
        </div>
    </div>

{% endblock %}