{% extends 'base.html' %}

{% block content %}
    <div class="mb-2">
        <h1 class="text-center">Create New Reply</h1>
    </div>

    <div class="p-2 col-8 mx-auto">
        <form class="form-group" action="" method="post">

            <label class="form-label" for="body">Body</label>
            {% if form_data %}
                <textarea class="form-control mb-2" type="text" id="body" name="body">{{ form_data.get('body') }}</textarea>
                {% if form_data.get('body_error') %}
                    <div>
                        <p class="text-danger">{{ form_data.get('body_error') }}</p>
                    </div>
                {% endif %}
            {% else %}
                <textarea class="form-control form-control-lg mb-2" type="text" id="body" name="body"></textarea>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Create Reply</button>
            </div>
        </form>
    </div>
{% endblock %}