{% extends 'base.html' %}

{% block content %}
    <div>
        {% if title %}
            <h1 class="text-center text-light p-2">{{ title }}</h1>
        {% endif %}
    </div>

    {% for post in posts %}
        <div class="mb-2 mx-auto py-2 ps-2 bg-main rounded text-center post-block">


            <div>
                {% if user_info['id'] == post.user_id %}
                    <div class="dropdown float-end">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item"
                                   href="{{ url_for('get_update_post', post_id=post.id) }}">Edit</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('get_delete_post', post_id=post.id) }}">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}
                <h3><a class="title-link" href="{{ url_for('get_post', post_id=post.id) }}">{{ post.title }}</a></h3>
                <p>{{ post.body }}</p>


            </div>


            <div class="d-flex flex-grow-1 justify-content-end">
                <div class="pe-2 info-box">
                    <p class="mb-0">Posted by: <a class="username-link"
                                                  href="{{ url_for('get_user_page', user_id=post.user_id) }}">{{ post.username }}</a>
                    </p>
                    <p class="mb-0">Date Created: {{ post.date_created[0:10] }}</p>

                    {% if post.date_modified != None %}
                        <p class="mb-0">Date Modified: {{ post.date_modified[0:10] }}</p>
                    {% endif %}

                </div>
            </div>

            {% for reply in post.replies %}
                <div class="mb-1 ms-4 bg-minor pt-2 ps-2 rounded-start">

                    <div>
                {% if user_info['id'] == reply.user_id %}
                    <div class="dropdown float-end">
                        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item"
                                   href="{{ url_for('get_update_reply', reply_id=reply.id) }}">Edit</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ url_for('get_delete_reply', reply_id=reply.id) }}">Delete</a></li>
                        </ul>
                    </div>
                {% endif %}


                    <p>{{ reply.body }}</p>

                    <div class="d-flex flex-grow-1 justify-content-end">
                        <div class="pe-2 info-box">
                            <p class="mb-0">Posted by: <a class="username-link"
                                                                     href="{{ url_for('get_user_page', user_id=reply.user_id) }}">{{ reply.username }}</a>
                            </p>
                            <p class="mb-0">Date Created: {{ reply.date_created[0:10] }}</p>

                            {% if reply.date_modified != None %}
                                <p class="mb-0">Date Modified: {{ reply.date_modified[0:10] }}</p>
                            {% endif %}

                        </div>
                    </div>
                    </div>


                </div>
            {% endfor %}

        </div>
    {% endfor %}
{% endblock %}