{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="mx-1 mb-2 p-2 bg-warning">
            <h3>{{ posts.get('title') }}</h3>
            <p>{{ posts.get('body') }}</p>
            <p>{{ posts.get('username') }}</p>
            <span class="text-muted">{{ posts.date_created }}</span>
            {% for reply in posts.replies %}
                <div class="mb-1 ms-4 bg-info p-2">
                    <h5>{{ reply.body }}</h5>
                    <p>{{ reply.username }}</p>
                    <span class="text-muted">{{ reply.date_created }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}