.title-link {
    color: black;
    text-decoration: none;
}

.title-link:hover {
    color: #333389;
}

.username-link {
    color: black;
    text-decoration: none;
}

.username-link:hover {
    color: #333389;
}

.info-box {
    font-size: 8pt;
}

.post-block {
    max-width: 1000px;
}

.bg-main {
    background: #317ea1;
}

.bg-minor {
    background: #c4cfd2;
}

.bg-background {
    background: #c4cfd2;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: #333389;
}

.main-block {
    max-width: 1000px;
}

/* Modal adding unwanted padding when opened - this negates that */
.modal-open {
    padding-right: 0 !important;
}

.logout-link {
    color: black;
    text-decoration: none;
}

.logout-link:hover {
    color: #333389;
}

body {
    font-family: Arial, sans-serif;
}

html, body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bg {
    background-image: linear-gradient(149deg, rgba(85, 85, 85, 0.05) 0%, rgba(85, 85, 85, 0.05) 25%,rgba(11, 11, 11, 0.05) 25%, rgba(11, 11, 11, 0.05) 50%,rgba(182, 182, 182, 0.05) 50%, rgba(182, 182, 182, 0.05) 75%,rgba(28, 28, 28, 0.05) 75%, rgba(28, 28, 28, 0.05) 100%),linear-gradient(232deg, rgba(145, 145, 145, 0.05) 0%, rgba(145, 145, 145, 0.05) 25%,rgba(165, 165, 165, 0.05) 25%, rgba(165, 165, 165, 0.05) 50%,rgba(84, 84, 84, 0.05) 50%, rgba(84, 84, 84, 0.05) 75%,rgba(131, 131, 131, 0.05) 75%, rgba(131, 131, 131, 0.05) 100%),linear-gradient(321deg, rgba(254, 254, 254, 0.05) 0%, rgba(254, 254, 254, 0.05) 25%,rgba(249, 249, 249, 0.05) 25%, rgba(249, 249, 249, 0.05) 50%,rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 75%,rgba(104, 104, 104, 0.05) 75%, rgba(104, 104, 104, 0.05) 100%),linear-gradient(90deg, rgb(38,94,127),rgb(63,161,199));
}