.title-link {
    color: black;
    text-decoration: none;
}

.title-link:hover {
    color: #333389;
}

.username-link {
    color: black;
    text-decoration: none;
}

.username-link:hover {
    color: #333389;
}

.info-box {
    font-size: 8pt;
}

.post-block {
    max-width: 1000px;
}

.bg-main {
    background: #2d6076;
}

.bg-minor {
    background: #c4cfd2;
}

.bg-background {
    background: #c4cfd2;
}

.navbar a {
    color: black;
}

.navbar a:hover {
    color: #333389;
}

.main-block {
    max-width: 1000px;
}

/* Modal adding unwanted padding when opened - this negates that */
.modal-open {
    padding-right: 0 !important;
}

.logout-link {
    color: black;
    text-decoration: none;
}

.logout-link:hover {
    color: #333389;
}