.title-link {
    color: black;
    text-decoration: none;
}

.title-link:hover {
    color: gray;
}

.username-link {
    color: black;
    text-decoration: none;
}

.username-link:hover {
    color: gray;
}